body {
  background:radial-gradient(#2b0246, #0a0011);
  
}

header {
  color: aliceblue;
  text-align: center;
  font-family: 'Rubik Moonrocks', cursive;
}

section {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.363);
  justify-content: center;
  align-items: center;
  background:radial-gradient(#241074, #0a0011);
}
#formulario{
  display: flex;
  justify-content: center;
  align-items: center;

}
#titulo{
display: flex;
justify-content: center;
font-size: 20px;
font-family: 'Rubik Moonrocks', cursive;
color:aliceblue;

}
#date{
  display: flex;
  font-size: 15px;
  width: 150px;
  height: 25px;
  margin-right: 20px;
  border-radius: 10px;
  font-family: 'Rubik Moonrocks', cursive;
}
#enviar{
  border-radius: 10px;
  font-size: medium;


}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Moonrocks', cursive;
}
img{
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  justify-content: center;
  align-items: center;
  background-color: #241074;

}
#descrição{
  font-size: larger;
  color: aliceblue;
}
footer {
  color:white;
  text-align: center;
  font-style:italic;
}
